body{
  background-color: rgb(158, 157, 157);
  font-family: courier new;
}

p{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 2.0;
  font-weight: 500;
}

img{
  width: 20%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  background-color: white;
  opacity: 75%;
  left: 0;
  width: 100%;
}

.right-side, .left-side{
  list-style-type: none;
  padding-right: 1%;
  padding-left: 1%;
  font-weight: bolder;
  
}

.left-side li{
  display: inline-block;
}

.left-side, a{
  text-decoration: none;
  color:black;
  display: block;
}

hr{
  width:25%;
}

.section_head{
  font-size: 40px;
  font-family: courier new;
  font-weight: bold;
  text-align: center;
}

.skills_container{
  display: flex;
  justify-content: center;
}

.icon{
  border: 3px solid black;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 5px;
}

.icon:hover{
  animation: bounce .4s cubic-bezier(0.59, -0.67, 0.24, 0.79) 2;
  animation-direction: alternate;
}

@keyframes bounce{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-70px);
  }
}
