body{
  background-color: gray;
  font-family: courier new;
}

p{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  line-height: 2.0;
}

img{
  width: 20%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.section_head{
  font-size: 40px;
  font-family: courier new;
  font-weight: bold;
  text-align: center;
}

hr{
  width: 50%;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 40%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ddd; /* Grey background */
}

.skills {
  padding-top: 5px;
  border-radius: 10px; 
  padding-bottom: 5px; 
}

.html {width: 50%; background-color: darkslategray;} 
.css {width: 30%; background-color: darkslategray;} 
.js {width: 20%; background-color: darkslategray;} 
.java {width: 80%; background-color: darkslategray;} 
.python {width: 75%; background-color: darkslategray;}
.cplus {width: 90%; background-color: darkslategray;} 
.csharp {width: 65%; background-color: darkslategray;} 
.agile {width: 80%; background-color: darkslategray;} 
.oop {width: 90%; background-color: darkslategray;} 
.linux {width: 75%; background-color: darkslategray;} 
.git {width: 70%; background-color: darkslategray;} 
