.title-animation{
  filter: contrast(15);
  display: inline-block; 
  text-align: center;
  justify-content: center;
  padding-top:3vh;
  padding-bottom:3vh;
  padding-right: 0;
  padding-left: 0;;
}

.title {
  transform: translate(-50%, -50%);
  animation: switch 15s infinite ease-in-out;
  display: inline-block; 
  text-align: center;
  justify-content: center;

}

.title:nth-child(1) {
  animation-delay: -15s;
}

.title:nth-child(2) {
  animation-delay: -10s;
}

.title:nth-child(3) {
  animation-delay: -5s;
}

@keyframes switch {
  0%,
  5%,
  100% {
      filter: blur(0px);
      opacity: 1;
  }
  50%,
  80% {
      filter: blur(180px);
      opacity: 0;
  }
}





/*welcome animation*/
.key {
  font-size: 2vw;
  display: inline-block;
  letter-spacing: .5vw;
  transition: transform 0.2s;
}

@keyframes pressDown1 {
  30%,
  40%,
  100% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(10px);
  }
}

@keyframes pressDown2 {
  70%,
  80%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes pressDown3 {
  30%,
  40%,
  100% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(10px);
  }
}

@keyframes pressDown4 {
  40%,
  50%,
  100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(10px);
  }
}

@keyframes pressDown5 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
}

@keyframes pressDown6 {
  60%,
  70%,
  100% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(10px);
  }
}

@keyframes pressDown7 {
  10%,
  20%,
  100% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(10px);
  }
}



.key:nth-child(1) {
  animation: pressDown1 2s infinite;
}

.key:nth-child(2) {
  animation: pressDown2 3s infinite;
}

.key:nth-child(3) {
  animation: pressDown3 4s infinite;
}

.key:nth-child(4) {
  animation: pressDown4 2.5s infinite;
}

.key:nth-child(5) {
  animation: pressDown5 2.5s infinite;
}

.key:nth-child(6) {
  animation: pressDown6 3.5s infinite;
}

.key:nth-child(7) {
  animation: pressDown7 2.2s infinite;
}

/*arrow animation*/
.arrow{
  padding: 0;
  font-size: 3rem;
  display: inline-block; 
  text-align: center;
  max-width: fit-content;
  max-height: fit-content;
  animation: arrow-animation 3s linear infinite;
}

@keyframes arrow-animation{

  50%{
    transform: scale(1.4);
  }

  100%{
    transform: scale(1);
  }
}

.arrow:hover{
  transform: scale(1.5);
}

.skill{
  border: 3px solid black;
  border-radius: 40%;
  max-width: fit-content;
  padding: 15px;
  margin:10px;
  display: inline-block; 
}

/*nav bar*/
.nav{
  display: inline-block; 
  text-align: center;
  line-height: 1.6;
}

.nav a:hover{
  transform: scale(1.5);
}


/* socials icons */
.socials{
  display:inline-flex;
  padding: 2vh;
}

.socials i{
font-size: 3rem;
}

/*2 column format */
.left {

  background: linear-gradient(to right, blue, pink);
  
  width: 40vw;
  position: fixed;

  justify-content: center;
  align-content:center;
  text-align: center;

}

.right {
  background: 
 linear-gradient(0deg, transparent 0%, pink 100%),
  linear-gradient(90deg, pink 0%, blue 100%);

  float:right;
  width: 60vw;
  justify-content: center;
  align-content:center;
  text-align: center;

}

/* general stuff */
body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;

}

html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p{ 
  margin-left: 5vw;
  margin-right: 5vw;
  line-height: 1.75;
  font-weight: 500;
  font-size: larger;
}

hr{
  width:25vw;
}



.about{
  height : 100vh ;
  align-content:center;
  scroll-snap-align: start;
}

.projects{
  height : 100vh ;
  align-content:center;
  scroll-snap-align: start;
}

.section{
  height : 100vh ;
  max-height: 100vh;
  align-content:center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 0;
}


.section-title{
  font-size: 40px;
  font-family: courier new;
  font-weight: bold;
  text-align: center;
}

.section-body{
  display: inline-block; 
  text-align: left;
  padding: 1h;
}


a{
  text-decoration: none;
  color:rgb(0, 0, 0);
  display:block;
}

/* Skills section CSS */
.skills_container{
  display: flex;
  justify-content: center;
}

.icon{
  border: 3px solid black;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 5px;
}

.skills{
  height : 100vh ;
  align-content:center;
  scroll-snap-align: start;
}


/* Projects CSS */
.project_title{
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.projects_wrapper{
  border-style: solid;
  border-radius: 50px;
  margin-top: 2vh;
  margin-right: 1vh;

  display: inline-flex;
  
  width: 25vw;
  height:35vh;
  padding-top: 0;
  padding-bottom: 0;
}

.projects_description{
  margin:10px;
  justify-content: center;
  text-align: center;
}

